
/* SECTION 2: servicios */
.skills-section {
  
  padding: 0 50px;
  margin-top: 50px;
  margin-bottom: 100px;

 
}

.skills-section h2 {
  
  text-align: left;
  font-size: 35px;
   border-bottom: 1px solid var(--link-color);
}

.skills-section .text {
  text-align: left;
    margin-top: 20px;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;


  background-image: url('../images/fondo2.png'); /* Ruta de la imagen */
            background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
            background-position: center; /* Centra la imagen */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
           

}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

